.top-container {
  background-color: #86c4ba;
  padding-top: 50px;
  max-width: 100%;
  height: auto;

}

.responsive{
  max-width: 100%;
  height: auto;
}

.middle-container {
  padding: 60px 0 20px 0;
}

.contact-me, {
  padding: 20px 0;

}

.bottom-container{
  padding: 20px 0;

}


hr{
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

#last-hr{
  width: 90%;
  color: grey;
  border-style: solid none none none;

}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

  background-color: #222831;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #7fdbda;
}

h2{
  color: white;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #7fdbda;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: white;
}



.dp{
  border-radius: 100%;
  height: 20%;
  width: 20%;

}

.skill-wdesign, .skill-ps{
  margin: 0 20px;

}

.skill-row{
  padding: 25px 45px;

}

.footer-link{
  margin: 10px 20px;
}
